apikey: "{{ electiricty_costs_app_entsoe_apikey }}"
username: "{{ electiricty_costs_app_username }}"
password: "{{ electiricty_costs_app_password }}"
delivery_site: "{{ electiricty_costs_app_delivery_site }}"
