apikey: "{{ electricity_costs_entsoe_apikey }}"
username: "{{ electricity_costs_helen_username }}"
password: "{{ electricity_costs_helen_password }}"
delivery_site: "{{ electricity_costs_delivery_site }}"
