{
    "electricity": "postgresql://{{ electricity_costs_psql_user }}:{{ electricity_costs_psql_pass }}@{{ electricity_costs_psql_host }}:{{ postgresql_port }}/{{ electricity_costs_psql_db }}",
    "weather": "postgresql://{{ weather_psql_user }}:{{ weather_psql_pass }}@{{ weather_psql_host }}:{{ postgresql_port }}/{{ weather_psql_db }}",
    "stocks": "postgresql://stocks:{{ stocks_database_pass }}@{{ weather_psql_host }}:{{ postgresql_port }}/stocks"
}