{
    "electricity_costs_helen_username": "{{ electricity_costs_helen_username }}",
    "electricity_costs_helen_password": "{{ electricity_costs_helen_password }}",
    "electricity_costs_delivery_site": "{{ electricity_costs_delivery_site }}",
    "electricity_costs_entsoe_apikey": "{{ electricity_costs_entsoe_apikey }}",
    "electricity_costs_psql_pass": "{{ electricity_costs_psql_pass }}",
    "electricity_costs_psql_host": "{{ electricity_costs_psql_host }}",
    "electricity_costs_psql_db": "{{ electricity_costs_psql_db }}",
    "electricity_costs_psql_user": "{{ electricity_costs_psql_user }}",
    "airflow_db_cleanup__max_db_entry_age_in_days": 30
}
