{
    "redhat.telemetry.enabled": false,
    "files.autoSave": "afterDelay",
    "ansible.python.interpreterPath": "python3",
    "ansible.validation.lint.path": "/usr/local/bin/ansible-lint",
    "editor.fontFamily": "'Hack', 'monospace', monospace",
    "terminal.integrated.scrollback": 1000000,
    "terminal.integrated.persistentSessionScrollback": 1000
}