server:
{% if unbound_extended_stats %}
    # for unbound exporter
    extended-statistics: yes
{% endif %}

{% if unbound_logfile_path | length > 0 %}
    logfile: "{{ unbound_logfile_path }}"
{% endif %}

    verbosity: {{ unbound_verbosity}}

{% if unbound_log_local %}
    log-local-actions: yes
{% else %}
    log-local-actions: no
{% endif %}

{% if unbound_log_queries %}
    log-queries: yes
{% else %}
    log-queries: no
{% endif %}

{% if unbound_log_replies %}
    log-replies: yes
{% else %}
    log-replies: no
{% endif %}

{% if unbound_log_servfail %}
    log-servfail: yes
{% else %}
    log-servfail: no
{% endif %}

    cache-min-ttl: {{ unbound_cache_min_ttl }}
    cache-max-ttl: {{ unbound_cache_max_ttl }}

{% if unbound_qname_minimization %}
    qname-minimisation: yes
{% else %}
    qname-minimisation: no
{% endif %}

{% if unbound_hide_version %}
    hide-version: yes
{% else %}
    hide-version: no
{% endif %}

{% if unbound_identity | length > 0 %}
    identity: "{{ unbound_identity}}"
    hide-identity: no
{% else %}
    hide-identity: yes
{% endif %}

{% if unbound_rrset_roundrobin %}
    rrset-roundrobin: yes
{% else %}
    rrset-roundrobin: no
{% endif %}

    interface: {{ unbound_interface }}
    outgoing-interface: {{ unbound_outgoing_interface }}
    port: {{ unbound_port }}

{% if unbound_do_ip4 %}
    do-ip4: yes
{% else %}
    do-ip4: no
{% endif %}


{% if unbound_do_udp %}
    do-udp: yes
{% else %}
    do-udp: no
{% endif %}

{% if unbound_do_tcp %}
    do-tcp: yes
{% else %}
    do-tcp: no
{% endif %}

{% if unbound_do_ip6 %}
    do-ip6: yes
{% else %}
    do-ip6: no
{% endif %}

{% if unbound_prefer_ip6 %}
    prefer-ip6: yes
{% else %}
    prefer-ip6: no
{% endif %}

    root-hints: "{{ unbound_root_hints }}"

{% if unbound_harden_glue %}
    harden-glue: yes
{% else %}
    harden-glue: no
{% endif %}

{% if unbound_harden_dnssec_stripped %}
    harden-dnssec-stripped: yes
{% else %}
    harden-dnssec-stripped: no
{% endif %}

{% if unbound_use_caps_for_id %}
    use-caps-for-id: no
{% else %}
    use-caps-for-id: no
{% endif %}

    edns-buffer-size: {{ unbound_edns_buffer_size }}

{% if unbound_prefetch %}
    prefetch: yes
{% else %}
    prefetch: no
{% endif %}

{% if unbound_prefetch_key %}
    prefetch-key: yes
{% else %}
    prefetch-key: no
{% endif %}

    num-threads: {{ unbound_num_threads }}
    so-rcvbuf: {{ unbound_so_rcvbuf }}
    private-address: 192.168.0.0/16
    private-address: 169.254.0.0/16
    private-address: 172.16.0.0/12
    private-address: 10.0.0.0/8
    private-address: fd00::/8
    private-address: fe80::/10
    private-domain: {{ unbound_private_domain }}

{% if unbound_adblock %}
    include: /etc/unbound/adblock.conf 
{% endif %}

{% if unbound_remote_control %}
remote-control:
    control-enable: yes
    control-interface: /run/unbound.ctl
{% endif %}
